<!DOCTYPE html>
<html lang="en" dir="ltr">
	<%- include('../includes/admin/head.ejs') %>
	<title>User Info</title>
	<body style="background-color: #f7f2f7;">
		<div class="container-fluid">
			<div class="row">
				<!-- Left side Menu -->
				<%- include('../includes/admin/leftPanel.ejs') %>
				<!-- Right side  -->
				<div class="col-lg-9">
					<!-- navbar -->
					<%- include('../includes/admin/navbar.ejs') %>
					<!-- panel page -->
					<!-- Alert -->
					<div class="row" style="margin: 10px 0; padding: 13px 15px 0px 15px;">
						<div class="alert alert-success">
							<strong>Success!</strong> Indicates a successful or positive action.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="main-panel">
							<!-- page Content -->
							<form class="form-horizontal" id="user-info-form" enctype="multipart/form-data">
								<div class="form-group">
									<label class="col-sm-2 control-label">E-mail</label>
									<div class="col-sm-10">
										<h4 id="user-email-input" class="form-control" name="email"></h4>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Name</label>
									<div class="col-sm-10">
										<input id="user-name-input" type="text" class="form-control" name="name" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Profile Picture</label>
									<div class="col-sm-10">
										<input
											id="user-imageUrl-input"
											name="image"
											type="file"
											class="form-control-file"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-offset-2 col-sm-1">
											<a id="user-info-update" class="btn btn-warning">Update</a>
										</div>
										<div class="col-sm-2">
											<a class="btn btn-info">Change Password</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Scripts -->
			<%- include('../includes/admin/end.ejs') %>
		</div>
	</body>
</html>
