<div class="category-panel">
	<span class="categories">Categories</span>
	<div class="category-tag">
		<ul>
			<li><a href="#">All</a></li>
			<li><a href="#">Sport</a></li>
			<li><a href="#">Art</a></li>
			<li><a href="#">Political</a></li>
			<li><a href="#">Culture</a></li>
		</ul>
	</div>
	<div class="dropdown">
		<button
			class="category-more dropdown-toggle"
			type="button"
			id="btn-category-more"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="true"
		>
			More<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="btn-category-more">
			<li><a href="#">Business</a></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">Trending</a></li>
			<li><a href="#">Travel</a></li>
		</ul>
	</div>
</div>
