<footer>
	<div class="container">
		<div class="col-lg-9 footer-info">
			<p class="logo">Market Practice</p>
			<div class="social-medias">
				<i class="fa fa-facebook"></i>
				<i class="fa fa-twitter"></i>
				<i class="fa fa-pinterest"></i>
				<i class="fa fa-vimeo"></i>
				<i class="fa fa-instagram"></i>
				<i class="fa fa-google"></i>
			</div>
			<p class="copyright">
				copyright &copy; 2018 | This Template is Written By Niamileo@gmail.com (It's Originally
				copied from ColorLib)
			</p>
		</div>
		<div class="col-lg-3 footer-subscribe">
			<p class="subscribe-title">Subscribe</p>
			<form action="#">
				<input class="sub-input" type="text" placeholder="Your Email" />
				<a class="sub-button"><i class="glyphicon glyphicon-arrow-right"></i></a>
			</form>
		</div>
	</div>
</footer>
