<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand" style="font-size: 20px; margin-right: 15px;"
				>Market Practice</a
			>
			<Button
				type="button"
				class="navbar-toggle collapsed"
				data-toggle="collapse"
				data-target="#navbar_items"
				><span style="color: white;" class="glyphicon glyphicon-menu-hamburger"></span
			></Button>
		</div>
		<div class="collapse navbar-collapse" id="navbar_items">
			<ul class="nav navbar-nav">
				<li><a href="">Home</a></li>
				<li><a href="">Fashion</a></li>
				<li><a href="">Lifestyle</a></li>
				<li><a href="">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<div class="weather" style="font-size: 20px;">
					<span class="temparature">+10°</span>
					<img class="weather-icon" src="images/cloud.png" alt="" />
				</div>
				<form class="header-search-container" action="#">
					<input type="text" class="header-search-input" placeholder="Type to Search..." />
					<img class="header-search-icon" src="images/search.png" alt="" />
				</form>

				<a id="registerBtn" class="btn btn-link" href="/registerForm" style="color: white;"
					>Sign-in / Sign-up</a
				>
				<a href="/admin"
					><img
						id="main-img-author"
						class="img-circle img-author"
						src="images/default-profile-pic.jpg"
						alt=""
				/></a>
			</ul>
		</div>
	</div>
</nav>
