<span class="categories">What's Trending?</span>
<!-- Side Post 1 -->
<a href="article.html">
	<div class="side-post">
		<img src="images/side-news-1.jpg" alt="" class="side-post-img img-responsive" />
	</div>
	<div class="side-post-title">After Peter Parker Got bite by a spider,</div>
	<p class="side-post-meta">Matt Demon 29, 2017 at 9:48 am</p>
</a>
<!-- Side Post 2 -->
<a href="article.html">
	<div class="side-post">
		<img src="images/side-news-2.jpg" alt="" class="side-post-img img-responsive" />
	</div>
	<div class="side-post-title">After Peter Parker Got bite by a spider,</div>
	<p class="side-post-meta">Matt Demon 29, 2017 at 9:48 am</p>
</a>
<!-- Side Post 3 -->
<a href="article.html">
	<div class="side-post">
		<img src="images/side-news-3.jpg" alt="" class="side-post-img img-responsive" />
	</div>
	<div class="side-post-title">After Peter Parker Got bite by a spider,</div>
	<p class="side-post-meta">Matt Demon 29, 2017 at 9:48 am</p>
</a>
<!-- Side Post 4 -->
<a href="article.html">
	<div class="side-post">
		<img src="images/side-news-4.jpg" alt="" class="side-post-img img-responsive" />
	</div>
	<div class="side-post-title">After Peter Parker Got bite by a spider,</div>
	<p class="side-post-meta">Matt Demon 29, 2017 at 9:48 am</p>
</a>
