<div class="col-lg-3 left-panel">
	<h1 class="panel-brand">Channel6News Panel</h1>
	<div class="row">
		<div class="col-lg-3">
			<i class="glyphicon glyphicon-dashboard menu-item-icon"></i>
			<i class="glyphicon glyphicon-shopping-cart menu-item-icon"></i>
			<i class="glyphicon glyphicon-user menu-item-icon"></i>
			<i class="glyphicon glyphicon-pencil menu-item-icon"></i>
			<i class="glyphicon glyphicon-folder-open menu-item-icon"></i>
			<i class="glyphicon glyphicon-picture menu-item-icon"></i>
			<i class="glyphicon glyphicon-info-sign menu-item-icon"></i>
		</div>
		<div class="col-lg-9">
			<ul class="nav">
				<li class="menu-item"><a href="">Dashboard</a></li>
				<li class="menu-item"><a href="">Products</a></li>
				<li class="menu-item"><a href="">Authors</a></li>
				<li class="menu-item"><a href="/admin/posts">Posts</a></li>
				<li class="menu-item"><a href="">Categories</a></li>
				<li class="menu-item"><a href="">Slides</a></li>
				<li class="menu-item"><a href="">Info</a></li>
			</ul>
		</div>
	</div>
</div>
