<div id="menu2" class="tab-pane fade">
	<form id="loginForm" action="index.html" method="post">
		<input
			name="email"
			type="email"
			class="form-input"
			placeholder="Your Email"
			required="required"
		/>
		<input
			name="password"
			type="password"
			class="form-input"
			placeholder="Your Password"
			required="required"
		/>
		<br />
		<div class="g-recaptcha" data-callback="onHuman" data-sitekey="<%= siteKey %>"></div>
		<input type="hidden" id="captcha" name="captcha" value="" />
		<br />
	</form>
	<br /><br />
	<div class="container-fluid">
		<div class="row">
			<a class="btn" id="email-modal-btn">Send Confirmation Email</a>
		</div>
		<br />
		<div class="row">
			<a class="btn" id="password-modal-btn">Forgot Your Password?</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row" style="margin-top: 40px;">
			<div class="col-lg-5 btn"><a href="/">Cancel</a></div>
			<div class="col-lg-2"></div>
			<div id="loginBtn" class="col-lg-5 btn-form btn-form-login">Login</div>
		</div>
	</div>
</div>
