<div class="row">
	<div class="nav-panel">
		<ul class="nav navbar-nav navbar-left">
			<li class="panel-exit"><a href="index.html">Exit</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<span class="member-name" href="#" style="color: black; margin-right: 20px;">Amir E!</span>
			<a href="dashboard.html"
				><img class="img-circle img-author" src="../../../images/author.jpg" alt="Author"
			/></a>
		</ul>
	</div>
</div>
