<div class="row">
	<div class="nav-panel">
		<ul class="nav navbar-nav navbar-left">
			<li class="panel-exit"><a id="admin-logout">Exit</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<span class="member-name" href="#" style="color: black; margin-right: 20px;">Amir E!</span>
			<a href="/admin"
				><img
					id="admin-img-author"
					class="img-circle img-author"
					src="../../../images/default-profile-pic.jpg"
					alt="Author"
			/></a>
		</ul>
	</div>
</div>
