<div id="post-modal" class="modal">
	<a class="close" rel="modal:close">&times;</a>
	<h3 id="formPostTitle" class="text-center"></h3>
	<hr />
	<!-- This is where main content Should be placed -->
	<form class="form-horizontal" id="postForm" enctype="multipart/form-data">
		<input type="hidden" name="oldImage" id="oldImage" />
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input
					id="post-title-input"
					type="text"
					class="form-control"
					name="title"
					placeholder="Title"
					required
					minlength="5"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="image" class="col-sm-2 control-label">Image</label>
			<div class="col-sm-10">
				<input class="form-control" type="file" id="post-imageUrl-input" name="image" required />
			</div>
		</div>
		<div class="form-group">
			<label for="content" class="col-sm-2 control-label">Content</label>
			<div class="col-sm-10">
				<input
					id="post-content-input"
					type="text"
					class="form-control"
					name="content"
					placeholder="Content"
					required
					minlength="5"
				/>
			</div>
		</div>

		<!-- <div class="form-group"> -->
		<div class="modal-footer">
			<!-- <div class="col-sm-offset-2 col-sm-4"> -->
			<a id="formPostBtn" class="btn btn-success btn-block btn-lg"></a>
			<!-- </div> -->
			<!-- <div class="col-sm-offset-2 col-sm-4"> -->
			<a class="btn btn-warning btn-block btn-lg" rel="modal:close">Cancel</a>
			<!-- </div> -->
		</div>
		<!-- </div> -->
	</form>
</div>
