<div id="menu1" class="tab-pane fade in active">
	<form id="signupForm" action="index.html" method="post">
		<input
			id="email"
			name="email"
			type="email"
			class="form-input"
			placeholder="Your Email"
			required="required"
		/>
		<input
			id="password"
			name="password"
			type="password"
			class="form-input"
			placeholder="Your Password"
			required="required"
		/>
		<input
			name="passwordRepeat"
			type="password"
			class="form-input"
			placeholder="Repeat Your Password"
			required="required"
		/>
		<br />
		<div class="g-recaptcha" data-callback="onHuman" data-sitekey="<%= siteKey %>"></div>
		<input type="hidden" id="captcha" name="captcha" value="" />
		<br />
	</form>
	<div class="container-fluid">
		<div class="row" style="margin-top: 40px;">
			<div class="col-lg-5 btn"><a href="/">Cancel</a></div>
			<div class="col-lg-2"></div>
			<div id="signupBtn" class="col-lg-5 btn-form btn-from-register">Register</div>
		</div>
	</div>
</div>
